{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}
{% load cms_tags %}


{% block meta_description %}{{request.current_page.get_meta_description}}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}{{request.path}}{% endblock %}
{% block og_title %}{{request.current_page.get_title}}{% endblock %}
{% block og_description %}{{request.current_page.get_meta_description}}{% endblock %}
{% block og_image_url %}{{ article.getImage }}{% endblock %}

{% block metatags %}
{% endblock %}

{% block tw_url %}{{ request.path }}{% endblock %}
{% block tw_title %}{{request.current_page.get_title}}{% endblock %}
{% block tw_description %}{{request.current_page.get_meta_description}}{% endblock %}

{% block title %}{{request.current_page.get_page_title}}{% endblock title %}

{% block nav_href %}/{% endblock %}

{% block nav_extra_links %}
{% endblock %}
{% block themecolor %}tertiary{% endblock %}
{% block nav_style %}tertiary{% endblock %}
{% block nav_text %}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}
{% block nav_back_theme %}secondary{% endblock %}


{% block content %}
<div id="view-article">
    <div class="w3-row w3-padding tertiary">
        <div class="w3-col m8 l8">
            <div id="article-head">
                <div id="article-head-view">
                    <div class="w3-row w3-padding paragraph" id="heading-view">
                        <h1>{{ request.current_page.get_title }}</h1>
                    </div>
                    <div class="w3-row text-large w3-padding paragraph" id="subheading-view">{{ request.current_page.get_meta_description|or:"[No meta description]" }}</div>
                </div>
            </div>
            <br />
            <div class="w3-row">
                <div class="w3-col m5 l3 w3-padding"><span class="dead-text">{% page_attribute "page_publish" %}{{request.current_page.publication_date|or:'Unpublished'}}</span></div>
                <div class="w3-col m7 l9 w3-padding">
                    <div id="view-articletags">
                            <button class=" small accent navigator-share-action" data-icon="share" data-title="{{request.current_page.get_title}}" data-text="{{request.current_page.get_meta_description|or:''}}" data-url="{{request.path}}"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col m4 l4 w3-right">
            <div class="w3-row w3-padding w3-right-align">
                <a href="https://knotters.org/">
                    <img class="w3-right darkimg" src="{{BANNER}}" width="200" alt="Knotters" />
                </a>
            </div>
        </div>
    </div>
    <br />
        <div class="w3-row w3-padding">
            <div class="w3-padding">
	{% placeholder "content" %}
            </div>
        </div>
   <br/>
</div>
{% endblock %}

