{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}
{% load cms_tags menu_tags sekizai_tags %}

{% block stylesheets %}
<link rel="stylesheet" href="{{CDN}}/styles/article.css">
{% endblock %}

{% block meta_description %}The official blog of Knotters Community.{% endblock %}
{% block og_url %}{% endblock %}
{% block og_title %}Home{% endblock %}
{% block og_description %}The official blog of Knotters Community.{% endblock %}
{% block og_site_name %}Home{% endblock %}

{% block tw_url %}{% endblock %}
{% block tw_title %}Home{% endblock %}
{% block tw_description %}The official blog of Knotters Community.{% endblock %}

{% block nav_text %}{{APPNAME}}{% endblock %}

{% block nav_noauth_people %}
{% endblock %}

{% block nav_extra_links %}
{% endblock %}

{% block content %}
<div class="w3-row w3-padding welcome-row tertiary">
  <div class='w3-row w3-padding'>
	  <br/>
	  <h1 class="w3-jumbo w3-hide-small">Thoughts and stuff.</h1>
	  <h2 class="w3-hide-medium w3-hide-large">Thoughts and stuff.</h2>
	  <br/>

  <strong class='text-large dead-text'>
    The official blog of Knotters Community.<br/><br/>
  </strong>
  </div>
  <div class='w3-row w3-padding'>
    <a href="https://knotters.org/signup">
    <button class='big-button border-joy primary' data-icon='person_add'>
      {% trans "Join" %} Knotters
    </button>
    </a>
  </div>
  <br/><br/>
</div>

{% endblock content %}
